@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Saman';
    src: url('/fonts/Saman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
